spring:
  datasource:
    url: jdbc:mariadb://localhost:3307/shop
    driver-class-name: org.mariadb.jdbc.Driver
    username: shop_cms
    password: 1

  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: update
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: wjdans8735@gmail.com
    password: tqlwsurfcaajuxgz
    properties:
      mail:
        smtp:
          starttls:
            enable: true
logging:
  level:
    root: info

mybatis:
  mapper-locations: mybatis/**/*.xml
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl


