<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SHOP 상품 목록</title>
    <style>
        .detail table {
            width: 100%;
            border-collapse: collapse;
        }

        .detail table th, .detail table td {
            border: solid 1px #000;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossOrigin="anonymous"></script>

    <script>
        $(function () {

            $('#submitForm').on('submit', function () {

                if (!confirm('상품을 주문하시겠습니까?')) {
                    return false;
                }

                var $thisForm = $(this);
                var url = '/api/product/req.api';
                var parameter = {
                    productId: $thisForm.find('input[name=id]').val()
                };

                parameter = JSON.stringify(parameter);
                axios.post(url, parameter).then(function (response) {
                    console.log(response);
                    console.log(response.data);

                    response.data = response.data || {};
                    response.data.header = response.data.header || {};

                    if (!response.data.header.result) {
                        alert(response.data.header.message);
                        return false;
                    }

                    alert('상품 주문이 처리되었습니다.');
                    location.href = '/';


                }).catch(function (err) {
                    console.log(err);

                });

                return false;
            });

        });
    </script>

</head>
<body>
<h1> SHOP 상품 목록 </h1>

<div th:replace="fragments/layout.html :: fragment-body-menu"></div>
<div class="detail">

    <div>
        <h2>상품명: <span th:text="${detail.subject}">상품</span></h2>
        <div th:utext="${detail.contents}">
        </div>
        <div>
            <p>상품가격: <span th:text="${detail.price}">0</span></p>
            <p>상품할인: <span th:text="${detail.salePrice}">0</span></p>
        </div>

        <div>
            <form id="submitForm" method="post">
                <input type="hidden" th:value="${detail.id}" name="id"/>
                <button type="submit"> 상품 주문</button>
                <a href="/product">상품 목록</a>
            </form>
        </div>
    </div>

</body>
</html>