<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SHOP 회원 정보</title>
</head>
<body>
<h1>SHOP 회원 정보</h1>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {

        $('#submitForm').on('submit', function () {

            var $thisForm = $(this);

            var newPassword = $thisForm.find('input[name=newPassword]').val();
            var newRePassword = $thisForm.find('input[name=newRePassword]').val();

            if (newPassword !== newRePassword) {
                alert('비밀번호가 일치하지 않습니다. 다시 확인 후 작성해주세요. ');
                return false;
            }


        });
    });

</script>
<!--<div th:replace="fragments/layout.html :: fragment-body-menu"></div>-->

<div>
    <hr/>
    <a href="/member/info">회원정보 수정</a>
    |
    <a href="/member/password">회원 비밀번호 변경</a>
    |
    <a href="/member/userproduct">장바구니</a>
    <hr/>
</div>

<div>

    <form id="submitForm" method="post">
    <div>
        <input type="password" name="password" placeholder="현재 비밀번호 입력" required/>
    </div>
    <div>
        <input type="password" name="newPassword" placeholder="새로운 비밀번호 입력" required/>
    </div>
    <div>
        <input type="password" name="newRePassword" placeholder="비밀번호 확인" required/>
    </div>
        <div>
            <button type="submit"> 비밀번호 변경 </button>
        </div>
    </form>

</div>


</br>

</body>
</html>