<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>SHOP 회원 비밀번호 설정</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {

            $('form').on('submit', function () {

                var password = $(this).find('input[name=password]').val();
                var rePassword = $(this).find('input[name=rePassword]').val();

                if (password != rePassword) {
                    alert('비밀번호 값이 일치 하지 않습니다. ');
                    return false;
                }

                return true;

            });

        });


    </script>
</head>
<body>

<h1>SHOP 회원 비밀번호 재설정</h1>
</br>

<div th:if="${result eq true}">
    <form method="post">

        <div th:text="${uuid}">
        </div>
        <div th:text="${parameter}">
        </div>

        <div>
            Password : <input type="password" name="password" placeholder="비밀번호 입력" required/>
        </div>
        <div>
            Password : <input type="password" name="rePassword" placeholder="비밀번호 재입력" required/>
        </div>
        <div>
            <button type="submit"> 비밀번호 재설정</button>
        </div>

    </form>
</div>
<div th:if="${result eq false}"




</body>
</html>